/* font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
/* reboot css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
  --purple: hsla(278, 100%, 36%, 1);
  --french-violet: hsla(263, 60%, 48%, 1);
  --slate-blue: hsla(239, 53%, 59%, 1);
  --united-nations-blue: hsla(213, 64%, 59%, 1);
  --carolina-blue: hsla(203, 69%, 59%, 1);
  --cyan-process: hsla(194, 73%, 59%, 1);
  --sky-blue-crayola: hsla(188, 70%, 61%, 1);
  --medium-turquoise: hsla(180, 66%, 63%, 1);
  --turquoise: hsla(171, 80%, 69%, 1);
  --aquamarine: hsla(163, 100%, 75%, 1);
}
#root{
  max-width: 100vw;
}
body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
